<section class="auth-page">
  <div class="auth-card">
    <h1 *ngIf="step === 'register'">Crear cuenta</h1>
    <h1 *ngIf="step === 'verify'">Verificar correo</h1>

    <p class="subtitle" *ngIf="step === 'register'">Regístrate para comprar en JONZKO SPORT</p>

    <p class="subtitle" *ngIf="step === 'verify'">Ingresa el código que enviamos a tu correo.</p>

    <form *ngIf="step === 'register'" (ngSubmit)="register()">
      <label>Nombre completo</label>
      <input type="text" name="fullName" [(ngModel)]="fullName" placeholder="Nombre completo" />

      <label>Correo electrónico</label>
      <input type="email" name="email" [(ngModel)]="email" placeholder="correo@gmail.com" />

      <label>Celular</label>
      <input
        type="tel"
        name="phone"
        [(ngModel)]="phone"
        maxlength="9"
        placeholder="Celular de 9 dígitos"
      />

      <label>Contraseña</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Mínimo 6 caracteres"
      />

      <div class="error" *ngIf="error">{{ error }}</div>
      <div class="success" *ngIf="success">{{ success }}</div>

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Creando cuenta...' : 'Registrarme' }}
      </button>
    </form>

    <form *ngIf="step === 'verify'" (ngSubmit)="verifyEmail()">
      <label>Correo electrónico</label>
      <input type="email" name="email" [(ngModel)]="email" readonly />

      <label>Código de verificación</label>
      <input
        type="text"
        name="code"
        [(ngModel)]="code"
        maxlength="6"
        placeholder="Código de 6 dígitos"
      />

      <div class="error" *ngIf="error">{{ error }}</div>
      <div class="success" *ngIf="success">
        <p>{{ success }}</p>

        <p *ngIf="resendSeconds > 0" class="resend-count">
          Podrás reenviar código en {{ resendSeconds }}s
        </p>

        <button
          *ngIf="resendSeconds === 0"
          type="button"
          class="resend-inline-btn"
          (click)="resendCode()"
          [disabled]="loading"
        >
          Reenviar código
        </button>
      </div>

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Verificando...' : 'Verificar cuenta' }}
      </button>
      <button type="button" class="secondary-btn" (click)="backToRegister()" [disabled]="loading">
        Cambiar datos
      </button>
    </form>

    <p class="bottom-text">
      ¿Ya tienes cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </p>
  </div>
</section>
